html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #CBC6AF;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.text-align-right {
    text-align: right
}

.text-align-left {
    text-align: left
}

