.container-description {
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    height: 50%;
}

.container-projects {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 10px;
}

.username {
    font-size: 22pt;
    margin-right: 5%;
    margin-bottom: 10px;
}

.description {
    font-size: 14pt;
    margin-right: 5%;
}

.description-small {
    font-size: 10pt;
    margin-right: 5%;
}

.hashtag, .project-source-code-link {
    font-size: 8pt;
    display: inline;
}

.project {
    margin-left: 5%;
}

.project-title {
    font-size: 12pt;
    display: inline;
}

.project-text {
    font-size: 10pt;
    display: inline;
}
