html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #CBC6AF;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.container-left {
    width: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 20px;
}

.container-right {
    width: 50%;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
}

.username {
    font-size: 40px;
    margin-right: 10%;
}

.description {
    font-size: 20px;
    margin-right: 10%;
}

.hashtag {
    font-size: 15px;
    display: inline;
}

.project {
    margin-left: 10%;
}

.project-title {
    font-size: 25px;
    display: inline;
}

.project-text {
    font-size: 20px;
    display: inline;
}

.project-source-code-link {
    font-size: 15px;
    display: inline;
}

.text-align-right {
    text-align: right
}

.text-align-left {
    text-align: left
}
